<form method="post" action="{{ path('reaction_confused', {'id': podcast.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('confused' ~ podcast.id) }}">
    <button class="btn">Perplexe</button>
</form>