<form method="post" action="{{ path('reaction_cool', {'id': podcast.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('cool' ~ podcast.id) }}">
    <button class="btn">Cool</button>
</form>