<form method="post" action="{{ path('reaction_happy', {'id': podcast.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('happy' ~ podcast.id) }}">
    <button class="btn">Content</button>
</form>